.ns7r.container  {
    padding-top: 2.5em;
}

@media screen {
    .ns7r span[uib-tooltip],
    .ns7r abbr[title] {
        border-bottom: 1px dotted #ccc;
    }
}

@media all {
    .ns7r code {
        color: #66BB6A !important;
        margin-right: .3em;
        padding: 1px 3px;
    }

    .ns7r code:last-child {
        margin-right: 0;
    }
}

.comma-sep-list::after {
    content: ', ';
}

.comma-sep-list:last-child::after {
    content: '';
}

.ns7r .popover-title {
    font-weight: 700;
}

.ns7r {
    line-height: 1.4em;
}

.ns7r .panel,
.ns7r .list-group {
    box-shadow: unset;
}

.ns7r .panel-heading,
.ns7r .panel-body {
    padding: 0;
}

.ns7r .panel,
.ns7r .list-group-item {
    border: none;
    border-radius: 0;
    padding: 0;
    background: transparent;
    margin: 0;
}



.ns7r .sidebar .list-group {
    margin: 0;
}

.ns7r .list-group.strips {
    margin-bottom: 15px;
    padding-bottom: 1px;
}

.list-group-item.strip {
    border-bottom: 1px solid white;
}

.list-group-item:first-child.strip {
    border-top: 1px solid white;
}

.list-group-item.strip {
    background-color: transparent;
    padding-bottom: 3px;
    margin-top: 3px;
}

.dim {
    color: #eee;
}






.strip {
    font-size: 93.5%;
    line-height: 1.2;
}

.info-address {
    padding-left: 8px;
}

.top-info .fa-li {
    color: #888;
}

.skills div,
.side-note div {
    margin: 8px 0;
}

.main-skills code {
    font-size: 110%;
}



.sidebar .panel .list-group-item {
    margin-bottom: 8px;
}

.popover img {
    float: left;
    margin-right: 8px;
}

.popover {
    width: 600px;
}

.ns7r .link a {
    font-size: 95%;
}

.ns7r .link .url::after {
    content: ' & '
}

.ns7r .link .url:last-child::after {
    content: none;
}


